@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #60a5fa;
  --color-success: #74c69d;
  --color-info: #076ffe;
  --color-danger: #d9534f;
  --color-neutral: #74767d;

  --font-family: "Quicksand", sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply font-family text-[#444];
  }

  a,
  img {
    @apply block;
  }

  button {
    @apply cursor-pointer;
  }

  h1 {
    @apply text-[1.8rem] font-bold;
  }
  h2 {
    @apply text-[1.6rem] font-bold;
  }
  h3 {
    @apply text-[1.4rem] font-bold;
  }
  h4 {
    @apply text-[1.2rem] font-bold;
  }
  h5 {
    @apply text-[1rem] font-semibold;
  }

  p,
  span,
  input,
  select,
  label,
  textarea,
  button,
  a {
    @apply text-[0.9rem];
  }

  small {
    @apply text-[0.75rem];
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  table thead tr {
    @apply bg-[#f1f4f9];
  }
  table thead tr th {
    font-weight: 650;
  }
  table td:first-child {
    font-weight: 600;
  }
}

@layer components {
}

@layer utilities {
}

.swiper-pagination-bullet {
  background-color: #444 !important;
  opacity: 1 !important;
}
.swiper-pagination-bullet-active {
  background-color: var(--color-primary) !important;
}
